{% extends '::layout.html.twig' %}
{% block title %}Collaborateurs {{ parent() }}{% endblock %}
{% block function %}Collaborateurs{% endblock %}

{% block body %}

{% for message in app.session.flashbag.get('info') %}
<p class="bg-success">{{ message }}</p>
{% endfor %}

<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('interim_informatique_add_jobseeker') }}" class="btn btn-primary btn-sm">Ajouter un collaborateur</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Suivi par</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          {% for jobSeeker in jobSeekers %}

        <tr>
            <td>{{ jobSeeker.name }}</td>
            <td>{{ jobSeeker.surname }}</td>
            <td><a href="{{ path('interim_informatique_configuration_infos_employee', {id : jobSeeker.employee.id }) }}">{{ jobSeeker.employee.name }}</a></td>
            <td><a href="{{ path('interim_informatique_infos_jobseeker', {id : jobSeeker.id }) }}" class="btn btn-info btn-xs">Infos</a></td>
            <td><a href="{{ path('interim_informatique_edit_jobseeker', {id : jobSeeker.id }) }}" class="btn btn-info btn-xs">Editer</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
