{% extends '::layout.html.twig' %}
{% block title %}Entreprises {{ parent() }}{% endblock %}
{% block function %}Entreprises{% endblock %}

{% block body %}

{% for message in app.session.flashbag.get('info') %}
<p class="bg-success">{{ message }}</p>
{% endfor %}

<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('interim_informatique_add_company') }}" class="btn btn-primary btn-sm">Ajouter une entreprise</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Contact</th>
            <th>Secteur</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          {% for company in companies %}

        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.contactName}} {{ company.contactSurname}}</td>
            <td>{{ company.businessSector.name }} </td>
            <td><a href="{{ asset(company.logo) }}" class="btn btn-default btn-xs">Logo</a></td>
            <td><a href="{{ path('interim_informatique_infos_company', {id : company.id }) }}" class="btn btn-info btn-xs">Infos</a></td>
            <td><a href="{{ path('interim_informatique_edit_company', {id : company.id }) }}" class="btn btn-info btn-xs">Editer</a></td>

        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
