{% extends '::layout.html.twig' %}
{% block title %}Niveaux de dipl么mes {{ parent() }}{% endblock %}
{% block function %}Niveaux de dipl么mes{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('info') %}
<p class="bg-success">{{ message }}</p>
    {% endfor %}


<div class="row" id="btns">
    <div class="col-xs-12">
        <a href="{{ path('interim_informatique_configuration_add_diploma_level') }}" class="btn btn-primary btn-sm">Ajouter un niveau de dipl么me</a>
        <a href="{{ path('interim_informatique_configuration_diplomas') }}" class="btn btn-primary btn-xs">Liste des dipl么mes</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          {% for diplomaLevel in diplomasLevels %}

        <tr>
            <td>{{ diplomaLevel.name }}</td>
            <td><a href="{{ path('interim_informatique_configuration_infos_diploma_level', {id : diplomaLevel.id }) }}" class="btn btn-info btn-xs">Infos</a></td>
            <td><a href="{{ path('interim_informatique_configuration_edit_diploma_level', {id : diplomaLevel.id }) }}" class="btn btn-info btn-xs">Editer</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
