{% extends '::layout.html.twig' %}
{% block title %}Employés {{ parent() }}{% endblock %}
{% block function %}Employés{% endblock %}

{% block body %}

{% for message in app.session.flashbag.get('info') %}
    <p class="bg-success">{{ message }}</p>
{% endfor %}


<div class="row" id="btns">
    <div class="col-xs-12"><a href="{{ path('interim_informatique_configuration_add_employee') }}" class="btn btn-primary btn-sm">Ajouter un employé</a></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          {% for employee in employees %}

        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.email }}</td>
            <td><a href="{{ path('interim_informatique_configuration_infos_employee', {id : employee.id }) }}" class="btn btn-info btn-xs">Infos</a></td>
            <td><a href="{{ path('interim_informatique_configuration_edit_employee', {id : employee.id }) }}" class="btn btn-info btn-xs">Editer</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock %}
